# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/.editorconfig
/.gitattributes
/.github/workflows/qodana_code_quality.yml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/LICENSE.txt
/img/.gitkeep
/package-lock.json
/qodana.sarif.json
/qodana.yaml
